@page "/"
@using ZXing.Net.Maui;

<h1>Scan Test</h1>

<button class="btn btn-primary" @onclick="scanner.DoScanAsync">Scan</button>

<br />

Scan Result: @scanner.ScanResult

@if (scanner.SuccessfulScan) {
    <p class="bg-success">Sucess!</p>
}

@code 
{
    QRScanner scanner;

    protected override async Task OnInitializedAsync()
    {
        scanner = new();
    }
}