@page "/"
@using ZXing.Net.Maui;

<h1>Scan Test</h1>

<button class="btn btn-primary" @onclick="DoScanAsync">Scan</button>

<br />

Scan Result: @scanResultLabel

@if (successfulScan) {
    <p class="bg-success">Sucess!</p>
}

@code 
{
    private string scanResultLabel;
    private bool successfulScan = false;

    public async Task DoScanAsync()
    {
        successfulScan = false;

        var barcode = await GetScanResultsAsync();
        if (barcode != null) {
            scanResultLabel = $"Barcodes: {barcode.Format} -> {barcode.Value}";
            successfulScan = true;
        }
    }

    public async Task<BarcodeResult> GetScanResultsAsync()
    {
        var cameraPage = new CameraPage();

        await Application.Current.MainPage.Navigation.PushModalAsync(cameraPage);
        var results = await cameraPage.WaitForResultAsync();
        await Application.Current.MainPage.Navigation.PopModalAsync();

        return results;
    }
}