@page "/settings"
@using TicketsRUs.Maui.Controllers
@inject SyncController syncController

<h1>Settings</h1>

<input type="text" class="form-control" placeholder="Current API: @syncController.ConnectionString" @bind="syncController.ConnectionString">
<input type="text" class="form-control" placeholder="Current Sync Rate: @syncController.SyncRate" @bind="syncController.SyncRate">